body {
    background: url("../image/background.jpg") !important;
    background-size: cover;
}

.header, .wrapper {
    margin: 0 10%;
}

.wrapper {
    display: flex;
    position: relative;
    min-height: 100%;
    background: white;
}
