header {
    background: #66FF99;
    width: 1000x;
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px;

}

.header__menu {
    flex-grow: 1;
}

.header__menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__menu li {
    margin-right: 20px;
}

.header__menu li:last-child {
    margin-right: 0;
}

.header__menu a {
    padding: 8px 10px;
}

.header__logo {
    margin-right: 30px;
}


.header__menu a {
    display: inline-block;
    color: #000000;
    /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none;
    /* Убираем подчеркивание */
    cursor: pointer;
}

.header__menu a:after {
    background-color: #f66d52;
    /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px;
    /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.header__menu a:hover:after,
.header__menu a:focus:after {
    width: 100%;
}

.header__tel a {
    display: inline-block;
    color: #000000;
    /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none;
    /* Убираем подчеркивание */
    cursor: pointer;
}

.header__tel a:after {
    background-color: #f66d52;
    /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px;
    /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.header__tel a:hover:after,
.header__tel a:focus:after {
    width: 100%;
}

.header__menu a,
.header__menu .active {
    display: block;
    padding: 8px 10px;
}

.header__menu .active {
    color: #fff;
    background-color: coral;
    border-radius: 8px;
}
