nav {
    background: #D5FADC;
    width: 500px;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: auto;
    height: 100vh;
}

nav li {
    list-style: none;
}

.nav-item {
    text-decoration: none;
    transition: 0.25s;

}

nav .active {
    color: coral;
}
