.section img {
    padding-bottom: 20px;
}

main {
    padding-top: 40px;
    padding-left: 3%;
    padding-right: 20%;
    padding-bottom: 40px;
}

.wrapper {
    display: flex;
    position: relative;
    min-height: 100%;

}

.section img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background: #D5FADC;
    width: 500px;
    padding: 20px;
}

nav li {
    list-style: none;
}

.nav-item {
    text-decoration: none;
    transition: 0.25s;

}

nav .active {
    color: coral;
}

.SLON section {
    left: 50%;
}
